# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data (keep structure, not big files)
data_raw/**
!data_raw/README.md
data_work/**
!data_work/README.md

# Logs & misc
*.log

# Tableau temp
~$*.twb
~$*.twbx